autom4te*
test*
*.o
*.a
*.lo
*.la
Makefile
/libtool
/src/.libs
/src/jbig2
Debug*
Release*
*.suo
*.ncb
*.user
*.patch
*.pdf
*.png
*.jpg
*.jb2
*.sym
*.tiff
*.tif
*.exe
*.[0-9]{0,4}
*.[0-9][0-9][0-9][0-9]
.hg*
*m4*
config.*
configure
install-sh
*.in
missing
ltmain.sh
build*
