autom4te*
test*
*.o
*.a
*.lo
*.la
Makefile
/libtool
/src/.libs
/src/jbig2
Debug*
Release*
*.suo
*.ncb
*.user
*.patch
*.png
*.jpg
*.jb2
*.tiff
*.tif
*.exe
.hg*
*m4*
config.*
configure
install-sh
*.in
missing
ltmain.sh
