name: Ruff_python_formater

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff isort
      # Update output format to enable automatic inline annotations.
      - name: Run Ruff
        run: |
          ruff check --output-format=github *.py
          isort .
